Repository GRAAL-Research/deepparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

black:
  name: black
  entry: black
  require_serial: true
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

Add a class to handle loading/downloading models
  deepparse/network/__init__.py
  deepparse/network/model_factory.py
  deepparse/network/model_loader.py
  deepparse/parser/address_parser.py
Due: black, pylint

Add handling of magnitude embeddings with huggingface
  deepparse/download_tools.py
  deepparse/network/model_loader.py
  deepparse/parser/address_parser.py
Due: black, pylint

Integrate model download with the existing infrastructure
  deepparse/download_tools.py
  deepparse/network/model_loader.py
Due: black, pylint

Fix broken CPU tests
  deepparse/download_tools.py
  deepparse/parser/address_parser.py
  tests/cli/test_download_model.py
  tests/cli/test_download_models.py
  tests/embeddings_models/integration/__init__.py
  tests/embeddings_models/integration/test_integration_fasttext_embeddings_model.py
  tests/network/integration/base.py
  tests/network/integration/test_integration_decoder.py
  tests/network/integration/test_integration_encoder.py
  tests/network/test_bpemb_seq2seq_model_cpu.py
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_cpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
  tests/network/test_model_factory.py
  tests/parser/integration/base_predict.py
  tests/parser/integration/base_retrain.py
  tests/parser/integration/test_integration_address_parser_new_params_new_tags.py
  tests/parser/integration/test_integration_address_parser_retrain_new_address_components.py
  tests/parser/test_address_parser.py
  tests/parser/test_address_parser_retrain_api.py
  tests/parser/test_address_parser_test_api.py
  tests/test_download_tools.py
Due: black, pylint

Add handling of models empty initialisation when retraining parser
  deepparse/network/model_factory.py
  deepparse/network/model_loader.py
  deepparse/parser/address_parser.py
Due: black, pylint

wip - Fixing GPU broken tests
  tests/cli/base.py
  tests/cli/test_retrain.py
  tests/cli/test_testing.py
  tests/embeddings_models/integration/test_integration_bpemb_embeddings_model.py
  tests/embeddings_models/integration/test_integration_fasttext_embeddings_model.py
  tests/network/integration/base.py
  tests/network/integration/test_integration_decoder.py
  tests/network/integration/test_integration_encoder.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_cpu.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_gpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_cpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_gpu.py
  tests/network/integration/test_integration_seq2seq_model_cpu.py
  tests/network/integration/test_integration_seq2seq_model_gpu.py
  tests/network/test_seq2seq.py
  tests/parser/base.py
  tests/parser/integration/base_retrain.py
  tests/parser/integration/test_integration_address_parser.py
  tests/parser/integration/test_integration_address_parser_cpu.py
  tests/parser/integration/test_integration_address_parser_gpu.py
  tests/parser/integration/test_integration_address_parser_new_params.py
  tests/parser/integration/test_integration_address_parser_new_params_new_tags.py
  tests/parser/integration/test_integration_address_parser_retrain_api.py
  tests/parser/integration/test_integration_address_parser_retrain_cpu.py
  tests/parser/integration/test_integration_address_parser_retrain_freeze_layers.py
  tests/parser/integration/test_integration_address_parser_retrain_gpu.py
  tests/parser/integration/test_integration_address_parser_retrain_new_address_components.py
  tests/parser/integration/test_integration_address_parser_test_api.py
  tests/parser/integration/test_integration_address_parser_test_cpu.py
  tests/parser/integration/test_integration_address_parser_test_gpu.py
  tests/parser/integration/test_integration_reload_retrain_parser.py
  tests/parser/integration/test_integration_retrain_test_api_integration.py
  tests/parser/test_address_parser.py
  tests/parser/test_address_parser_retrain_api.py
  tests/parser/test_address_parser_test_api.py
  tests/parser/test_tools.py
  tests/test_integration_fasttext_tools.py
Due: black, pylint

Add tests skipping
  tests/embeddings_models/integration/test_integration_bpemb_embeddings_model.py
  tests/embeddings_models/integration/test_integration_fasttext_embeddings_model.py
  tests/network/integration/test_integration_decoder.py
  tests/network/integration/test_integration_encoder.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_cpu.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_gpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_cpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_gpu.py
  tests/network/integration/test_integration_seq2seq_model_cpu.py
  tests/network/integration/test_integration_seq2seq_model_gpu.py
  tests/network/test_seq2seq.py
  tests/parser/integration/test_integration_address_parser.py
  tests/parser/integration/test_integration_address_parser_cpu.py
  tests/parser/integration/test_integration_address_parser_gpu.py
  tests/parser/integration/test_integration_address_parser_new_params.py
  tests/parser/integration/test_integration_address_parser_new_params_new_tags.py
  tests/parser/integration/test_integration_address_parser_retrain_api.py
  tests/parser/integration/test_integration_address_parser_retrain_cpu.py
  tests/parser/integration/test_integration_address_parser_retrain_freeze_layers.py
  tests/parser/integration/test_integration_address_parser_retrain_gpu.py
  tests/parser/integration/test_integration_address_parser_retrain_new_address_components.py
  tests/parser/integration/test_integration_address_parser_test_api.py
  tests/parser/integration/test_integration_address_parser_test_cpu.py
  tests/parser/integration/test_integration_address_parser_test_gpu.py
  tests/parser/integration/test_integration_reload_retrain_parser.py
  tests/parser/integration/test_integration_retrain_test_api_integration.py
  tests/parser/test_address_parser.py
  tests/parser/test_address_parser_retrain_api.py
  tests/parser/test_address_parser_test_api.py
  tests/parser/test_tools.py
  tests/test_integration_fasttext_tools.py
Due: black, pylint

Change model type inference tool name.
  deepparse/parser/address_parser.py
  deepparse/parser/tools.py
Due: black, pylint

Remove some tests since model type inference tool is only applied to retrained models
  tests/parser/base.py
  tests/parser/test_tools.py
Due: black, pylint

Fix cache path in validation tests
  tests/test_download_tools.py
Due: black, pylint

Black formatting
  deepparse/converter/data_padder.py
  deepparse/download_tools.py
  deepparse/network/model_factory.py
  deepparse/network/model_loader.py
  deepparse/network/seq2seq.py
  deepparse/parser/address_parser.py
  tests/cli/base.py
  tests/cli/test_download_model.py
  tests/network/integration/base.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_cpu.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_gpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_cpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_gpu.py
  tests/network/integration/test_integration_seq2seq_model_cpu.py
  tests/network/test_bpemb_seq2seq_model_cpu.py
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_cpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
  tests/network/test_seq2seq.py
  tests/parser/base.py
  tests/parser/integration/base_predict.py
  tests/parser/integration/test_integration_address_parser_new_params_new_tags.py
  tests/parser/integration/test_integration_address_parser_retrain_new_address_components.py
  tests/parser/test_address_parser.py
  tests/parser/test_address_parser_retrain_api.py
  tests/test_download_tools.py
  tests/test_integration_fasttext_tools.py
Due: black, pylint

Add HF requirements
  requirements.txt
  setup.py
Due: black

Fix linting
  deepparse/download_tools.py
  deepparse/network/model_factory.py
  deepparse/network/model_loader.py
  deepparse/network/seq2seq.py
  deepparse/parser/address_parser.py
  tests/network/integration/base.py
  tests/network/integration/test_integration_decoder.py
  tests/network/integration/test_integration_seq2seq_bpemb_model_cpu.py
  tests/network/integration/test_integration_seq2seq_fasttext_model_cpu.py
  tests/network/integration/test_integration_seq2seq_model_cpu.py
  tests/network/test_bpemb_seq2seq_model_cpu.py
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_cpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
  tests/network/test_model_factory.py
  tests/network/test_seq2seq.py
  tests/parser/integration/base_predict.py
  tests/parser/integration/test_integration_address_parser.py
  tests/parser/integration/test_integration_address_parser_retrain_new_address_components.py
  tests/parser/test_address_parser_retrain_api.py
  tests/requirements.txt
  tests/test_download_tools.py
Due: black, pylint

Black formatting
  deepparse/network/seq2seq.py
  tests/network/integration/base.py
  tests/network/test_seq2seq.py
Due: black, pylint

Black formatting
  deepparse/converter/data_padder.py
Due: black, pylint

Fix address parser tests for windows CI
  tests/parser/test_address_parser.py
Due: black, pylint

Add temporary disabling of examples
  examples/fine_tuning.py
  examples/fine_tuning_uri.py
  examples/fine_tuning_with_csv_dataset.py
  examples/parse_addresses.py
  examples/parse_addresses_uri.py
  examples/retrain_attention_model.py
  examples/retrain_with_new_prediction_tags.py
  examples/retrain_with_new_seq2seq_params.py
  examples/retrained_model_parsing.py
Due: black

Black formatting
  examples/fine_tuning.py
  examples/fine_tuning_uri.py
  examples/fine_tuning_with_csv_dataset.py
  examples/parse_addresses.py
  examples/parse_addresses_uri.py
  examples/retrain_attention_model.py
  examples/retrain_with_new_prediction_tags.py
  examples/retrain_with_new_seq2seq_params.py
  examples/retrained_model_parsing.py
Due: black

Remove confusing model download message when models are already up to date
  deepparse/download_tools.py
Due: black, pylint

Fix linting
  deepparse/download_tools.py
Due: black, pylint

Remove obsolete tests
  tests/test_download_tools.py
Due: black, pylint

Fix linting
  tests/test_download_tools.py
Due: black, pylint

Update changelog
  CHANGELOG.md
Due: none

Quickfix package version
  version.txt
Due: none

Update README.md
  README.md
Due: none

add 3.12, 3.13 and 3.14 support
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  pyproject.toml
  run_tests_python_envs.sh
  setup.py
Due: black

Handle torch.device in address_parser
  deepparse/parser/address_parser.py
Due: black, pylint

Fix mock assertion typo breaking Python 3.12+
  tests/test_weights_tools.py
Due: black, pylint

Apply black 26.1.0 formatting
  .pylintrc
  deepparse/converter/data_processor_factory.py
  deepparse/embeddings_models/embeddings_model_factory.py
  deepparse/network/model_factory.py
  deepparse/vectorizer/vectorizer_factory.py
  examples/fine_tuning.py
  examples/fine_tuning_uri.py
  examples/fine_tuning_with_csv_dataset.py
  examples/parse_addresses.py
  examples/parse_addresses_uri.py
  examples/retrain_attention_model.py
  examples/retrain_with_new_prediction_tags.py
  examples/retrain_with_new_seq2seq_params.py
  examples/retrained_model_parsing.py
  tests/test_weights_tools.py
Due: black, pylint

Refactor _process_device and add tests for non-CUDA torch.device
  deepparse/converter/__init__.py
  deepparse/embeddings_models/__init__.py
  deepparse/network/__init__.py
  deepparse/parser/address_parser.py
  docs/source/install/installation.rst
  tests/parser/test_address_parser.py
Due: black, pylint

Add Python 3.14 to black target-version in pyproject.toml
  pyproject.toml
Due: none

Revert py314 from black target-version
  pyproject.toml
Due: none

Drop Python 3.8/3.9 support, add py314 to black target
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  .pylintrc
  README.md
  docs/source/index.rst
  docs/source/install/installation.rst
  pyproject.toml
  setup.py
Due: black

Remove Python 3.8/3.9 from local test script, fix env cleanup bug
  run_tests_python_envs.sh
Due: none

Restrict Python support to 3.10 and 3.11 only
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  README.md
  docs/source/index.rst
  docs/source/install/installation.rst
  pyproject.toml
  run_tests_python_envs.sh
  setup.py
Due: black

Fix pylint cross-version compatibility for too-many-positional-arguments
  .pylintrc
Due: none

Move pylint unnecessary-dunder-call disable to top of file
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
Due: black, pylint

Path conditions:
  black: any of: \.py$
  pylint: any of: ^deepparse/|tests/ and \.py$
