Repository GRAAL-Research/deepparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

black:
  name: black
  entry: black
  require_serial: true
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

installed pre commit
  .pre-commit-config.yaml
Due: none

updated documentation
  .github/CONTRIBUTING.md
Due: none

Setup precommit (#205)
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  deepparse/cli/tools.py
  deepparse/download_tools.py
  docs/source/examples/retrain_with_new_prediction_tags.rst
  docs/source/index.rst
  docs/source/parser.rst
  pyproject.toml
  styling_requirements.txt
Due: black, pylint

added sentry logging and profiling
  Dockerfile
  deepparse/app/app.py
  deepparse/app/sentry.py
  docker-compose.yml
  requirements.txt
  setup.py
Due: black, pylint

added missing comma
  setup.py
Due: black

resolved bug and removed unused code
  deepparse/cli/download_models.py
  deepparse/embeddings_models/magnitude_embeddings_model.py
  tests/app/test_app.py
  tests/embeddings_models/test_magnitude_embeddings_model.py
Due: black, pylint

added fastapi[all] to dependencies to fix httpx error
  requirements.txt
  setup.py
Due: black

Update deepparse/app/app.py
  deepparse/app/app.py
Due: black, pylint

changed packages for app into app_requirements.txt
  Dockerfile
  app_requirements.txt
  deepparse/app/app.py
  deepparse/app/request_examples.http
  deepparse/app/sentry.py
  pytest.ini
  requirements.txt
  setup.py
  tests/app/test_app.py
Due: black, pylint

added app_requirements to deploy, docs, linting and tests github actions
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: none

changed extra requirements in workflow and setup py
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  app_requirements.txt
  deepparse/app/app.py
  docs/requirements.txt
  setup.py
  styling_requirements.txt
  tests/requirements.txt
Due: black, pylint

updated requirements to make editable mode work with pip install
  .github/CONTRIBUTING.md
  README.md
  docs/requirements.txt
  setup.py
Due: black

updated requirements to add fastapi
  setup.py
Due: black

forgot comma between packges listing
  setup.py
Due: black

forgot to install the right dependencies on windows build
  .github/workflows/tests.yml
Due: none

improve doc and fix test.sh script
  .github/CONTRIBUTING.md
  run_tests_python_envs.sh
Due: none

improve doc and fix test.sh script
  .github/CONTRIBUTING.md
  run_tests_python_envs.sh
  tests/test_weights_tools.py
Due: black, pylint

add placeholder for doc
  README.md
  docs/source/index.rst
Due: none

add 3.10 and 3.11 in windows tests
  .github/workflows/tests.yml
Due: none

remove uri tests
  tests/parser/integration/test_integration_uri.py
Due: black, pylint

remove dead comment
  .github/workflows/tests.yml
Due: none

Add 3.10 and 3.11 in windows tests (#207)
  .github/workflows/tests.yml
Due: none

add app installation and usage documentation and .env_example
  .env_example
  README.md
Due: none

updated index rst file
  docs/source/index.rst
Due: none

Update README.md
  README.md
Due: none

added uvicorn app with possibility to monitor with Sentry
  Dockerfile
  README.md
  deepparse/app/app.py
  docker-compose.yml
Due: black, pylint

fix examples titles
  docs/source/examples/fine_tuning_uri.rst
  docs/source/examples/parse_addresses_uri.rst
Due: none

add libpostal speed test eval
  models_evaluation/speed_test_evaluation_libpostal.py
Due: black

fix libpostal info
  docs/source/parser.rst
Due: none

libpostal test with memory profiler
  models_evaluation/speed_test_evaluation_libpostal.py
Due: black

deepparse test with memory profiler
  models_evaluation/evaluation_requirements.txt
  models_evaluation/speed_test_evaluation.py
Due: black

Setup api (#206)
  .env_example
  .github/CONTRIBUTING.md
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  Dockerfile
  README.md
  app_requirements.txt
  deepparse/app/__init__.py
  deepparse/app/app.py
  deepparse/app/request_examples.http
  deepparse/app/sentry.py
  deepparse/embeddings_models/magnitude_embeddings_model.py
  docker-compose.yml
  docs/requirements.txt
  docs/source/index.rst
  pytest.ini
  run_tests_python_envs.sh
  setup.py
  styling_requirements.txt
  tests/app/__init__.py
  tests/app/test_app.py
  tests/embeddings_models/test_magnitude_embeddings_model.py
  tests/parser/integration/test_integration_uri.py
  tests/requirements.txt
  tests/test_weights_tools.py
Due: black, pylint

reworked pre processors logic
  CHANGELOG.md
  deepparse/parser/address_parser.py
  deepparse/pre_processing/__init__.py
  deepparse/pre_processing/address_cleaner.py
  deepparse/pre_processing/pre_processor_list.py
  tests/pre_processing/test_address_cleaner.py
  tests/pre_processing/test_pre_processor_list.py
Due: black, pylint

update changelog
  CHANGELOG.md
Due: none

Bug fix preprocessor (#208)
  CHANGELOG.md
  deepparse/parser/address_parser.py
  deepparse/pre_processing/__init__.py
  deepparse/pre_processing/address_cleaner.py
  deepparse/pre_processing/pre_processor_list.py
  tests/pre_processing/test_address_cleaner.py
  tests/pre_processing/test_pre_processor_list.py
Due: black, pylint

push changelog and version for release 0.9.9
  CHANGELOG.md
  version.txt
Due: none

Path conditions:
  black: any of: \.py$
  pylint: any of: ^deepparse/|tests/ and \.py$
