Repository GRAAL-Research/deepparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [ python ]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [ --pytest-test-first]
        exclude: |
          (?x)^(
                tests/embeddings_models/integration/tools.py|
                tests/parser/integration/base_predict.py|
                tests/parser/integration/base_retrain.py|
                tests/base_capture_output.py|
                tests/tools.py|
                tests/base_file_exist.py|
                tests/network/base.py|
                tests/parser/base.py|
                tests/network/integration/base.py|
                tests/network/base.py
            )$
      - id: trailing-whitespace
        types: [ python ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [ python ]
      - id: pylint
        name: pylint
        entry:  pylint
        language: system
        types: [ python ]
        files: ^deepparse/|tests/
        args:
          [
            "--rcfile=.pylintrc", # Link to your config file<
        ]

Remove numpy<2.0.0 version cap to support numpy 2.x
  deepparse/embeddings_models/bpemb_embeddings_model.py
  deepparse/embeddings_models/embeddings_model.py
  deepparse/embeddings_models/fasttext_embeddings_model.py
  requirements.txt
  setup.py
Due: black, pylint

Remove numpy<2.0.0 version cap to support numpy 2.x (#250)
  deepparse/embeddings_models/bpemb_embeddings_model.py
  deepparse/embeddings_models/embeddings_model.py
  deepparse/embeddings_models/fasttext_embeddings_model.py
  requirements.txt
  setup.py
Due: black, pylint

Bump pinned dependency versions for Python 3.12+ compatibility
  docs/requirements.txt
  docs/source/conf.py
  setup.py
Due: black

Add Python 3.12 support to CI/CD, docs and package setup
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  README.md
  docs/source/index.rst
  docs/source/install/installation.rst
  pyproject.toml
  run_tests_python_envs.sh
  setup.py
Due: black

Fix outdated model download URLs and add missing type hints
  README.md
  deepparse/app/app.py
  deepparse/comparer/formatted_compared_addresses.py
  deepparse/data_validation/data_validation.py
  deepparse/download_tools.py
  deepparse/embeddings_models/bpemb_embeddings_model.py
  deepparse/network/embedding_network.py
  deepparse/parser/address_parser.py
  deepparse/parser/capturing.py
  deepparse/pre_processing/pre_processor_list.py
  docs/source/get_started/get_started.rst
Due: black, pylint

Add changelog entry for 0.10.0 release
  CHANGELOG.md
Due: none

Add Python 3.8/3.9 drop and dependency unpinning to 0.10.0 changelog
  CHANGELOG.md
Due: none

Revert Python 3.13/3.14 support due to fasttext-wheel incompatibility
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  pyproject.toml
  run_tests_python_envs.sh
  setup.py
Due: black

Make fasttext-wheel optional and add Python 3.13/3.14 support
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  deepparse/download_tools.py
  deepparse/embeddings_models/fasttext_embeddings_model.py
  docs/source/get_started/get_started.rst
  pyproject.toml
  requirements.txt
  run_tests_python_envs.sh
  setup.py
  tests/embeddings_models/test_embeddings_model_factory.py
  tests/embeddings_models/test_fasttext_embeddings_model.py
  tests/vectorizer/test_vectorizer_factory.py
Due: black, pylint

Add Python 3.13/3.14 fasttext note to Sphinx docs and AddressParser docstring
  deepparse/parser/address_parser.py
  docs/source/index.rst
  docs/source/install/installation.rst
Due: black, pylint

Remove Python 3.14 support (gensim does not compile on 3.14)
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  deepparse/embeddings_models/fasttext_embeddings_model.py
  deepparse/parser/address_parser.py
  docs/source/get_started/get_started.rst
  docs/source/index.rst
  docs/source/install/installation.rst
  pyproject.toml
  run_tests_python_envs.sh
  setup.py
Due: black, pylint

Make fasttext import conditional in test files
  tests/embeddings_models/integration/test_integration_fasttext_embeddings_model.py
  tests/test_download_tools.py
Due: black, pylint

Fix CI/CD, dead code, caching bug, and modernize infrastructure
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  Dockerfile
  README.md
  deepparse/app/app.py
  deepparse/app/tools.py
  deepparse/download_tools.py
  deepparse/network/decoder.py
  deepparse/network/embedding_network.py
  deepparse/network/encoder.py
  deepparse/network/seq2seq.py
  docker-compose.yml
  pyproject.toml
  tests/app/test_app.py
Due: black, pylint

Clarify fasttext install label to avoid implying no FastText on 3.13+
  README.md
  docs/source/install/installation.rst
Due: none

Fix release pipeline and bump version to 0.10.0
  .github/workflows/docs.yml
  .github/workflows/python-publish.yml
  CHANGELOG.md
  MANIFEST.in
  version.txt
Due: none

Update changelog with Dependabot bumps and pipeline fixes
  CHANGELOG.md
Due: none

Release 0.10.0 (#263)
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/greetings.yml
  .github/workflows/linting.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  MANIFEST.in
  app_requirements.txt
  version.txt
Due: none

Replace print with logging, Union with pipe syntax, fix CLI retrain bug
  CHANGELOG.md
  deepparse/cli/parse.py
  deepparse/cli/retrain.py
  deepparse/cli/tools.py
  deepparse/comparer/formatted_compared_addresses.py
  deepparse/dataset_container/dataset_container.py
  deepparse/download_tools.py
  deepparse/embeddings_models/embeddings_model.py
  deepparse/network/bpemb_seq2seq.py
  deepparse/network/fasttext_seq2seq.py
  deepparse/network/model_factory.py
  deepparse/network/seq2seq.py
  deepparse/parser/address_parser.py
  deepparse/parser/formatted_parsed_address.py
  tests/cli/test_parse.py
  tests/cli/test_testing.py
  tests/embeddings_models/test_embeddings_model.py
  tests/test_download_tools.py
Due: black, pylint

Fix greeting workflow for first-interaction v3
  .github/workflows/greetings.yml
Due: none

Fix CI test failures caused by transformers lazy import of torchvision
  tests/parser/test_address_parser.py
Due: black, pylint

Fix CI test failures caused by transformers lazy import of torchvision (#273)
  tests/parser/test_address_parser.py
Due: black, pylint

Add pip-audit workflow for dependency vulnerability scanning
  .github/workflows/pip-audit.yml
Due: none

Add pip-audit workflow for dependency vulnerability scanning (#274)
  .github/workflows/pip-audit.yml
Due: none

Fix pip-audit failing on local editable deepparse install
  .github/workflows/pip-audit.yml
Due: none

Drop --strict from pip-audit
  .github/workflows/pip-audit.yml
Due: none

Fix pip-audit CI failure on editable deepparse install (#275)
  .github/workflows/pip-audit.yml
Due: none

Fix greetings workflow failing on all PRs
  .github/workflows/greetings.yml
Due: none

Fix greetings workflow failing on all PRs (#289)
  .github/workflows/greetings.yml
Due: none

Fix remaining kebab-case input in greetings workflow
  .github/workflows/greetings.yml
Due: none

Fix remaining kebab-case input in greetings workflow (#290)
  .github/workflows/greetings.yml
Due: none

ci: run pip-audit on dev branch too
  .github/workflows/pip-audit.yml
Due: none

ci: run pip-audit on dev branch too (#291)
  .github/workflows/pip-audit.yml
Due: none

fix(dataset): flag partially empty tag sets in training validation
  CHANGELOG.md
  deepparse/dataset_container/dataset_container.py
  tests/dataset_container/test_dataset_container.py
Due: black, pylint

fix(dataset): flag partially empty tag sets in training validation (#292)
  CHANGELOG.md
  deepparse/dataset_container/dataset_container.py
  tests/dataset_container/test_dataset_container.py
Due: black, pylint

docs(readme): fix broken Zenodo DOI badge URL
  README.md
Due: none

docs(readme): fix broken Zenodo DOI badge URL (#294)
  README.md
Due: none

fix: address multiple bugs found during code audit
  CHANGELOG.md
  deepparse/cli/tools.py
  deepparse/network/model_loader.py
  deepparse/parser/address_parser.py
  deepparse/validations.py
  tests/cli/test_tools.py
  tests/network/test_model_loader.py
  tests/parser/test_address_parser_retrain_api.py
  tests/test_validations.py
Due: black, pylint

fix: address multiple bugs found during code audit (#295)
  CHANGELOG.md
  deepparse/cli/tools.py
  deepparse/network/model_loader.py
  deepparse/parser/address_parser.py
  deepparse/validations.py
  tests/cli/test_tools.py
  tests/network/test_model_loader.py
  tests/parser/test_address_parser_retrain_api.py
  tests/test_validations.py
Due: black, pylint

fix: second audit pass - API status code, padder mutation, error handling
  CHANGELOG.md
  deepparse/app/tools.py
  deepparse/converter/data_padder.py
  deepparse/converter/data_processor_factory.py
  deepparse/embeddings_models/bpemb_embeddings_model.py
  tests/app/test_tools_validation.py
  tests/converter/test_data_padder.py
Due: black, pylint
