Repository GRAAL-Research/deepparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

black:
  name: black
  entry: black
  require_serial: true
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

fix numpy due to makor release breaking change
  CHANGELOG.md
  requirements.txt
  setup.py
Due: black

fix tests with new bpemb wrapper
  tests/embeddings_models/test_bpemb_embeddings_model.py
Due: black, pylint

fix tests with new bpemb wrapper
  tests/embeddings_models/test_embeddings_model_factory.py
  tests/vectorizer/test_vectorizer_factory.py
Due: black, pylint

remove unecessary tests
  tests/parser/test_address_parser_retrain_api.py
Due: black, pylint

fix app tests
  tests/app/test_app.py
Due: black, pylint

fix app tests
  deepparse/app/__init__.py
  tests/app/test_app.py
Due: black, pylint

fix app circular import
  deepparse/app/app.py
  deepparse/app/tools.py
Due: black, pylint

fix sentry deprecated argument
  CHANGELOG.md
  deepparse/app/sentry.py
Due: black, pylint

Fix typos in changelog
  CHANGELOG.md
Due: none

Fix PyPi release workflow
  .github/workflows/python-publish.yml
Due: none

shorter Docker build task name
  .github/workflows/docker-publish.yml
Due: none

fix version problem with sentry
  CHANGELOG.md
  app_requirements.txt
  deepparse/parser/address_parser.py
  setup.py
  tests/parser/integration/test_integration_address_parser_retrain_cpu.py
  version.txt
Due: black, pylint

fix setup tools deprecation warnings
  setup.cfg
Due: none

fix problem with dependencies build in setup
  setup.py
Due: black

fix pypi workflow problem
  .github/workflows/python-publish.yml
  deepparse/download_tools.py
Due: black, pylint

fix the use of BPEmb in download models
  CHANGELOG.md
  deepparse/__init__.py
  deepparse/bpemb_url_bug_fix.py
  deepparse/download_tools.py
  deepparse/embeddings_models/bpemb_embeddings_model.py
  tests/cli/test_download_model.py
  tests/cli/test_download_models.py
  tests/test_download_tools.py
  version.txt
Due: black, pylint

fix error in publish variable
  .github/workflows/python-publish.yml
Due: none

update gensim version
  setup.py
Due: black

Update changelog and version
  CHANGELOG.md
  version.txt
Due: none

Update gensim version in requirement.txt
  requirements.txt
Due: none

Add dev section to changelog
  CHANGELOG.md
Due: none

Setup update (#236)
  CHANGELOG.md
  requirements.txt
  setup.py
  version.txt
Due: black

deploy: 51029ac93e0eabcd99caf03a5043abf1d59c1b9a
  .buildinfo
  _modules/deepparse/cli/download_model.html
  _modules/deepparse/cli/parse.html
  _modules/deepparse/cli/retrain.html
  _modules/deepparse/cli/test.html
  _modules/deepparse/comparer/addresses_comparer.html
  _modules/deepparse/comparer/formatted_compared_addresses.html
  _modules/deepparse/comparer/formatted_compared_addresses_raw.html
  _modules/deepparse/comparer/formatted_compared_addresses_tags.html
  _modules/deepparse/data_validation/data_validation.html
  _modules/deepparse/dataset_container/dataset_container.html
  _modules/deepparse/parser/address_parser.html
  _modules/deepparse/parser/formatted_parsed_address.html
  _modules/deepparse/pre_processing/address_cleaner.html
  _modules/index.html
  _static/documentation_options.js
  api.html
  cli.html
  comparer.html
  dataset_container.html
  examples/fine_tuning.html
  examples/fine_tuning_uri.html
  examples/fine_tuning_with_csv_dataset.html
  examples/parse_addresses.html
  examples/parse_addresses_uri.html
  examples/parse_addresses_with_cli.html
  examples/retrain_attention_model.html
  examples/retrain_with_new_prediction_tags.html
  examples/retrain_with_new_seq2seq_params.html
  examples/retrained_model_parsing.html
  examples/single_country_retrain.html
  genindex.html
  get_started/get_started.html
  index.html
  install/installation.html
  objects.inv
  parser.html
  pre_processor.html
  search.html
  training_guide.html
Due: none

add py312 in github actions
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
Due: none

bump pytorch version to latest in dockerfile and python to 3.12
  Dockerfile
Due: none

add py312 in pyproject.toml
  pyproject.toml
Due: none

add py312 in tests script
  run_tests_python_envs.sh
Due: none

add py312 in setup.py
  setup.py
Due: black

fix tests
  tests/embeddings_models/multi/multi.wiki.bpe.vs100000.model
  tests/test_weights_tools.py
Due: black, pylint

add changelog
  CHANGELOG.md
Due: none

add code for multi gpus retrain and code examples
  deepparse/parser/address_parser.py
  examples/fine_tuning_multi_gpus.py
Due: black, pylint

wip - removing device from models constructors
  deepparse/network/bpemb_seq2seq.py
  deepparse/network/fasttext_seq2seq.py
  deepparse/network/model_factory.py
  deepparse/network/seq2seq.py
  tests/network/test_bpemb_seq2seq_model_cpu.py
  tests/network/test_fasttext_seq2seq_model_cpu.py
  tests/network/test_seq2seq.py
Due: black, pylint

Removed device from models constructor
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
Due: black, pylint

wip - Extracting model loading logic from model classes to ModelFactory
  deepparse/network/bpemb_seq2seq.py
  deepparse/network/fasttext_seq2seq.py
  deepparse/network/model_factory.py
  deepparse/network/seq2seq.py
  tests/network/test_bpemb_seq2seq_model_cpu.py
  tests/network/test_fasttext_seq2seq_model_cpu.py
  tests/network/test_seq2seq.py
Due: black, pylint

Extracted model loading logic from model classes into ModelFactory
  tests/network/test_bpemb_seq2seq_model_gpu.py
  tests/network/test_fasttext_seq2seq_model_gpu.py
Due: black, pylint

Removed unnecessary parameters from network constructors
  deepparse/network/bpemb_seq2seq.py
  deepparse/network/fasttext_seq2seq.py
  deepparse/network/model_factory.py
  deepparse/network/seq2seq.py
Due: black, pylint

Path conditions:
  black: any of: \.py$
  pylint: any of: ^deepparse/|tests/ and \.py$
