Repository GRAAL-Research/deepparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [ python ]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [ --pytest-test-first]
        exclude: |
          (?x)^(
                tests/embeddings_models/integration/tools.py|
                tests/parser/integration/base_predict.py|
                tests/parser/integration/base_retrain.py|
                tests/base_capture_output.py|
                tests/tools.py|
                tests/base_file_exist.py|
                tests/network/base.py|
                tests/parser/base.py|
                tests/network/integration/base.py|
                tests/network/base.py
            )$
      - id: trailing-whitespace
        types: [ python ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [ python ]
      - id: pylint
        name: pylint
        entry:  pylint
        language: system
        types: [ python ]
        files: ^deepparse/|tests/
        args:
          [
            "--rcfile=.pylintrc", # Link to your config file<
        ]

formatting - removed blanck line
  docs/source/training_guide.rst
Due: none

Update docs/source/training_guide.rst
  docs/source/training_guide.rst
Due: none

fix some typos
  docs/source/training_guide.rst
Due: none

Add Training Guides (#212) and Improve Doc
  README.md
  docs/source/_static/img/labeled_addresses.png
  docs/source/dataset_container.rst
  docs/source/examples/fine_tuning.rst
  docs/source/get_started/get_started.rst
  docs/source/index.rst
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  docs/source/parser.rst
  docs/source/training_guide.rst
Due: none

improve documentation
  deepparse/comparer/addresses_comparer.py
  deepparse/comparer/formatted_compared_addresses.py
  deepparse/comparer/formatted_compared_addresses_raw.py
  deepparse/comparer/formatted_compared_addresses_tags.py
  deepparse/data_validation/data_validation.py
  deepparse/dataset_container/dataset_container.py
  deepparse/dataset_container/tools.py
  deepparse/parser/address_parser.py
  tests/parser/test_address_parser_retrain_api.py
Due: black, pylint

Merge dev for documentation improvement (#214)
  .github/workflows/docker.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  deepparse/comparer/addresses_comparer.py
  deepparse/comparer/formatted_compared_addresses.py
  deepparse/comparer/formatted_compared_addresses_raw.py
  deepparse/comparer/formatted_compared_addresses_tags.py
  deepparse/data_validation/data_validation.py
  deepparse/dataset_container/dataset_container.py
  deepparse/dataset_container/tools.py
  deepparse/parser/address_parser.py
  deepparse/pre_processing/address_cleaner.py
  docs/source/_static/img/labeled_addresses.png
  docs/source/api.rst
  docs/source/cli.rst
  docs/source/conf.py
  docs/source/dataset_container.rst
  docs/source/examples/fine_tuning.rst
  docs/source/get_started/get_started.rst
  docs/source/index.rst
  docs/source/install/installation.rst
  docs/source/install/quick-start.html
  docs/source/parser.rst
  docs/source/pre_processor.rst
  docs/source/training_guide.rst
  pyproject.toml
  styling_requirements.txt
  tests/parser/test_address_parser_retrain_api.py
Due: black, pylint

improve documentation
  README.md
  docs/source/get_started/get_started.rst
Due: none

deploy: 06adca0b33e6f6de930f02067d88885a3124e23e
  _sources/get_started/get_started.rst.txt
  get_started/get_started.html
  searchindex.js
Due: none

fix bold text error in documentation
  docs/source/get_started/get_started.rst
Due: none

deploy: d1fc2bbb5fd6353f42eabc3609f667fd7e4a5efa
  _sources/get_started/get_started.rst.txt
  get_started/get_started.html
Due: none

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

bump black version
  pyproject.toml
  styling_requirements.txt
Due: none

setup ssl https-server
  .env_example
  .github/CONTRIBUTING.md
  Dockerfile
  README.md
  deepparse/app/__init__.py
  deepparse/app/api.py
  deepparse/app/app.py
  docker-compose.yml
  docs/source/api.rst
  nginx.conf
  nginx.conf.template
  pytest.ini
  setup.py
  tests/app/test_api.py
  tests/app/test_app.py
Due: black, pylint

updated tests and docs creation for docker image
  Dockerfile
  README.md
  deepparse/app/api.py
  docs/source/api.rst
  docs/source/conf.py
  setup.py
  tests/app/test_api.py
  tests/app/test_app.py
Due: black, pylint

pyproject.toml
  pyproject.toml
Due: none

fix black
  deepparse/app/app.py
  deepparse/converter/data_padder.py
  deepparse/parser/address_parser.py
  tests/converter/test_data_processor.py
Due: black, pylint

fix requirements
  deepparse/converter/data_padder.py
  setup.py
Due: black, pylint

fix fastapi security RDoS breach
  app_requirements.txt
  setup.py
Due: black

adding gensim last update for support 3.12
  requirements.txt
Due: none

fix typos in documentation
  deepparse/data_validation/data_validation.py
Due: black, pylint

fix pylint
  deepparse/data_validation/data_validation.py
  deepparse/dataset_container/dataset_container.py
  tests/app/test_app.py
  tests/data_validation/test_data_validation.py
  tests/dataset_container/test_dataset_container.py
Due: black, pylint

fix black version and black
  deepparse/converter/data_padder.py
  styling_requirements.txt
Due: black, pylint

fix errors in tests
  tests/network/test_seq2seq.py
  tests/parser/test_address_parser.py
Due: black, pylint

remove fixed version
  tests/requirements.txt
Due: none

fix app
  app_requirements.txt
  deepparse/app/__init__.py
  deepparse/app/address.py
  deepparse/app/app.py
  deepparse/app/tools.py
  tests/app/test_app.py
Due: black, pylint

fix pylint disable
  tests/app/test_app.py
Due: black, pylint

correction in changelog and added stuff for this PR
  CHANGELOG.md
Due: none

Improve data validation (#227)
  CHANGELOG.md
  app_requirements.txt
  deepparse/app/__init__.py
  deepparse/app/address.py
  deepparse/app/app.py
  deepparse/app/tools.py
  deepparse/converter/data_padder.py
  deepparse/data_validation/data_validation.py
  deepparse/dataset_container/dataset_container.py
  styling_requirements.txt
  tests/app/test_app.py
  tests/data_validation/test_data_validation.py
  tests/dataset_container/test_dataset_container.py
  tests/network/test_seq2seq.py
  tests/parser/test_address_parser.py
  tests/requirements.txt
Due: black, pylint

fix imports
  deepparse/parser/address_parser.py
Due: black, pylint

add interface for data cleaning pre processing during loading
  deepparse/dataset_container/dataset_container.py
Due: black, pylint

add interface for data cleaning pre processing during loading
  CHANGELOG.md
Due: none

Remove context manager (#228)
  CHANGELOG.md
  deepparse/dataset_container/dataset_container.py
  deepparse/parser/address_parser.py
Due: black, pylint

hot-fix the problem with BPEmb broken base URL
  deepparse/embeddings_models/bpemb_embeddings_model.py
Due: black, pylint

add changelog
  CHANGELOG.md
Due: none

Bpemb hot fix (#229)
  CHANGELOG.md
  deepparse/embeddings_models/bpemb_embeddings_model.py
Due: black, pylint

bump version to 0.9.10
  CHANGELOG.md
  version.txt
Due: none

fix numpy due to makor release breaking change
  requirements.txt
  setup.py
Due: black
